In [1]:
import  pandas as pd

In [2]:
db=pd.read_csv('bank.csv')

In [3]:
db.head(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [4]:
#есть ли пропущенные значения

In [5]:
pd.isnull(db.all)

False

In [6]:
#пропущенных значений нет

In [7]:
#опишем имеющиеся признаки

In [8]:
db.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [9]:
db.describe(percentiles=(0.1, 0.95))

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
10%,15264.900000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.807059e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
95%,144222.100000,2.000000,60.000000,0.000000,436.411500,722.515500,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.427802e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [10]:
#классы не сбалансированы, должна помочь стратегия undersampling/oversampling

In [11]:
len(db[db['TARGET']==1])

3008

In [12]:
len(db[db['TARGET']==0])

73012

In [13]:
db=db.drop('ID', axis=1)

In [14]:
Y=db['TARGET']
X=db.drop('TARGET', axis=1)

In [15]:
#Уберем признаки, у которых средние равны при разделении датасета в зависимости от таргета

In [16]:
from scipy import stats
test=[]
columns=[]
for i in X.columns:
    db_1=db[db['TARGET']==1][i]
    db_0=db[db['TARGET']==0][i]
    if stats.ttest_ind(db_1, db_0)[1]<0.05:
        columns.append(i)

C:\Users\volko\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\volko\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\volko\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [17]:
len(columns)

143

In [18]:
X=X[columns]

In [19]:
#убираем коррелирующие факторы, чтобы не было мультиколлинеарности. Оставляем тот фактор, который имеет наибольший коэффициент корреляции с таргетом

In [20]:
columns.append('TARGET')

In [21]:
db=db[columns]

In [22]:
corr_matrix=db.corr()

In [23]:
res2=[]
col=corr_matrix.columns.tolist()
col.remove('TARGET')
print(col)
for i in col:
    res3=[]
    res3.append(i)
    for j in corr_matrix[(corr_matrix[i]>0.5)&(corr_matrix[i]!=1)].index.tolist():
        if j!='TARGET':
            res3.append(j)
    res2.append(list(set(res3)))

['var15', 'imp_op_var39_comer_ult1', 'imp_op_var40_efect_ult1', 'imp_op_var40_efect_ult3', 'imp_op_var41_comer_ult1', 'imp_op_var41_efect_ult1', 'imp_op_var41_efect_ult3', 'imp_op_var41_ult1', 'imp_op_var39_efect_ult1', 'imp_op_var39_efect_ult3', 'imp_op_var39_ult1', 'ind_var1', 'ind_var5_0', 'ind_var5', 'ind_var8_0', 'ind_var8', 'ind_var12_0', 'ind_var12', 'ind_var13_0', 'ind_var13_corto_0', 'ind_var13_corto', 'ind_var13_largo_0', 'ind_var13_largo', 'ind_var13', 'ind_var14_0', 'ind_var14', 'ind_var19', 'ind_var20_0', 'ind_var20', 'ind_var24_0', 'ind_var24', 'ind_var25_cte', 'ind_var26_0', 'ind_var26_cte', 'ind_var26', 'ind_var25_0', 'ind_var25', 'ind_var30_0', 'ind_var30', 'ind_var31_0', 'ind_var31', 'ind_var39_0', 'ind_var40', 'ind_var41_0', 'ind_var39', 'num_var1', 'num_var4', 'num_var5_0', 'num_var5', 'num_var8_0', 'num_var8', 'num_var12_0', 'num_var12', 'num_var13_0', 'num_var13_corto_0', 'num_var13_corto', 'num_var13_largo_0', 'num_var13_largo', 'num_var13', 'num_var14', 'num_var20_0', 'num_var20', 'num_var24_0', 'num_var24', 'num_var26_0', 'num_var26', 'num_var25_0', 'num_var25', 'num_op_var41_hace2', 'num_op_var41_ult1', 'num_op_var41_ult3', 'num_op_var39_hace2', 'num_op_var39_ult1', 'num_op_var39_ult3', 'num_var30_0', 'num_var30', 'num_var35', 'num_var39_0', 'num_var40', 'num_var41_0', 'num_var39', 'num_var42_0', 'num_var42', 'saldo_var5', 'saldo_var12', 'saldo_var13_corto', 'saldo_var13_largo', 'saldo_var13', 'saldo_var24', 'saldo_var30', 'saldo_var40', 'saldo_var42', 'var36', 'delta_imp_aport_var13_1y3', 'delta_num_aport_var13_1y3', 'imp_aport_var13_hace3', 'imp_aport_var13_ult1', 'imp_reemb_var17_ult1', 'imp_trans_var37_ult1', 'ind_var10_ult1', 'ind_var10cte_ult1', 'ind_var9_cte_ult1', 'ind_var9_ult1', 'ind_var43_recib_ult1', 'num_aport_var13_hace3', 'num_aport_var13_ult1', 'num_var22_hace2', 'num_var22_ult1', 'num_var22_ult3', 'num_med_var22_ult3', 'num_meses_var5_ult3', 'num_meses_var8_ult3', 'num_meses_var12_ult3', 'num_meses_var13_corto_ult3', 'num_meses_var13_largo_ult3', 'num_meses_var39_vig_ult3', 'num_op_var40_efect_ult1', 'num_op_var40_efect_ult3', 'num_op_var41_efect_ult1', 'num_op_var41_efect_ult3', 'num_op_var39_efect_ult1', 'num_op_var39_efect_ult3', 'num_reemb_var17_ult1', 'num_sal_var16_ult1', 'num_var43_recib_ult1', 'num_trasp_var11_ult1', 'num_var45_ult1', 'saldo_medio_var5_hace2', 'saldo_medio_var5_hace3', 'saldo_medio_var5_ult1', 'saldo_medio_var5_ult3', 'saldo_medio_var12_hace2', 'saldo_medio_var12_hace3', 'saldo_medio_var12_ult1', 'saldo_medio_var12_ult3', 'saldo_medio_var13_corto_hace2', 'saldo_medio_var13_corto_hace3', 'saldo_medio_var13_corto_ult1', 'saldo_medio_var13_corto_ult3', 'saldo_medio_var13_largo_hace2', 'saldo_medio_var13_largo_ult1', 'saldo_medio_var13_largo_ult3', 'var38']

In [24]:
target_corr=corr_matrix['TARGET']

In [25]:
res3=[]
for i in res2:
    res4=[]
    for j in i:
        corr_t=target_corr[j]
        res4.append(abs(corr_t))
    res3.append(res4)

In [26]:
res5=[]
res6=[]
for i in target_corr.values.tolist():
    z=abs(i)
    res6.append(z)
for i in res3:
    a=max(i)
    b=res6.index(a)
    c=target_corr.index.tolist()[b]
    res5.append(c)

In [27]:
col_model=list(set(res5))

In [28]:
X=X[col_model]
len(X.columns)

38

In [29]:
from sklearn.model_selection import train_test_split
X, X_test, Y, Y_test = train_test_split(X, Y, test_size=0.2)

In [30]:
corr_target_list=target_corr[col_model].abs().sort_values()
corr_target_list=corr_target_list.index.tolist()

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
params={'max_depth':[5,6,7,8], 'max_features':[5,6,7,8]}

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
 from sklearn.preprocessing import MinMaxScaler

In [35]:
Sscaler=StandardScaler()
Mscaler=MinMaxScaler()

In [36]:
from sklearn.model_selection import GridSearchCV
rf= RandomForestClassifier(n_jobs=-1, n_estimators=100)
Gr = GridSearchCV(rf, params, cv=10, scoring='roc_auc', n_jobs=-1)

In [37]:
Gr.fit(X,Y)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'max_depth': [5, 6, 7, 8], 'max_features': [5, 6, 7, 8]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [38]:
import numpy as np

In [39]:
from sklearn.model_selection import cross_val_score

In [41]:
model = Gr.best_estimator_
roc_auc1 = np.round(np.mean(cross_val_score(model, X, Y, cv=10, scoring='roc_auc')), 2)
roc_auc_metr=[]
roc_auc_metr.append(roc_auc1)
for i in corr_target_list[:-8]:
    X=X.drop(i, axis=1)
    model = model.fit(X, Y)
    roc_auc = np.round(np.mean(cross_val_score(model, X, Y, cv=10, scoring='roc_auc')), 2)
    roc_auc_metr.append(roc_auc)
    print (len(roc_auc_metr))

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [42]:
roc_auc_metr

[0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.84,
 0.83,
 0.83,
 0.83,
 0.83,
 0.84,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.83,
 0.82,
 0.82,
 0.82,
 0.82,
 0.82,
 0.82,
 0.82,
 0.8]

In [ ]:
#можно взять 20 последних факторов, тк далее с ростом количества факторов качество стабильно. Что и следовало ожидать в связи с выбранной моделью. Но интересно было протестировать.

In [47]:
model_columns=corr_target_list[-16:]

In [59]:
X=db
Y=db['TARGET']

In [60]:
X, X_test, Y, Y_test = train_test_split(X, Y, test_size=0.2)

In [61]:
X=X[model_columns]

In [62]:
#undersampling random

In [63]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(return_indices=True)
X, Y, id_rus = rus.fit_sample(X, Y)

In [64]:
X=pd.DataFrame(X)

In [65]:
roc_auc = np.round(np.mean(cross_val_score(model, X, Y, cv=10, scoring='roc_auc')), 2)

In [66]:
roc_auc

0.82

In [67]:
#oversampling SMOTE

In [68]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(ratio='minority')
X, Y = smote.fit_sample(X, Y)
X=pd.DataFrame(X)
roc_auc = np.round(np.mean(cross_val_score(model, X, Y, cv=10, scoring='roc_auc')), 2)
roc_auc

0.82

In [69]:
#oversampling сработало достаточно хорошо. Даже нет смысла пробовать другую модель

In [ ]:
#Используя лес, обычно не нужно шкалировать/стандартизации признаки, но мы попробуем оценить качество при шкалировании/стандартизации

In [70]:
X1=Sscaler.fit_transform(X)
roc_auc = np.round(np.mean(cross_val_score(model, X1, Y, cv=10, scoring='roc_auc')), 2)
roc_auc

0.82

In [71]:
X2=Mscaler.fit_transform(X)
roc_auc = np.round(np.mean(cross_val_score(model, X2, Y, cv=10, scoring='roc_auc')), 2)
roc_auc

0.82

In [72]:
cross_val_score(model, X, Y, cv=10, scoring='roc_auc')

array([0.86338324, 0.81696576, 0.78700674, 0.8158173 , 0.82305506,
       0.8320692 , 0.81875041, 0.82929308, 0.84121555, 0.79566014])

In [73]:
#стандартизация никак не повлияла

In [74]:
from sklearn.metrics import roc_auc_score

In [75]:
model.fit(X,Y)
X_test=X_test[model_columns]
y_pred=model.predict(X_test)
roc_auc_score(Y_test, y_pred)

0.7507795880851572

In [76]:
from sklearn.metrics import accuracy_score

In [77]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [78]:
print(accuracy_score(Y_test,y_pred))
print(recall_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred))
print(f1_score(Y_test,y_pred))
print(confusion_matrix(Y_test,y_pred))

0.7865693238621415
0.7122040072859745
0.11242093156986774
0.19418922274646136
[[11568  3087]
 [  158   391]]

In [79]:
model.feature_importances_

array([0.02964133, 0.00139928, 0.0410198 , 0.00452454, 0.03340516,
       0.00689755, 0.00684039, 0.27763095, 0.00408297, 0.00262711,
       0.00273557, 0.00818773, 0.05199057, 0.44588344, 0.03139905,
       0.05173456])

In [81]:
for i in range(len(X.columns.tolist())):
    print('{}:{}'.format(model_columns[i],model.feature_importances_[i]))

num_var22_ult1:0.029641331812816557
saldo_var13_corto:0.0013992764350074624
imp_op_var41_ult1:0.041019799225028145
saldo_var13:0.00452454282217952
imp_op_var39_efect_ult1:0.03340515504423303
ind_var5_0:0.006897545474422518
ind_var39_0:0.006840390823843162
saldo_var30:0.2776309520312422
ind_var12_0:0.004082965727691755
num_var13:0.0026271109201035374
ind_var13:0.0027355726703067384
ind_var8_0:0.008187734484038683
num_var4:0.05199056728716775
var15:0.445883444637773
var36:0.03139904581905369
ind_var30:0.051734564785091974